<?xml version="1.0" encoding="utf-8" ?>
<CompositionInfo xmlns="http://www.compositional.net/schema/compositionXml.1.0.xsd">

  <UsingAssembly fullName="MongoDB.Driver.Core, Version=2.4.4.0, Culture=neutral, PublicKeyToken=null" />
  <UsingAssembly fullName="MongoDB.Driver, Version=2.4.4.0, Culture=neutral, PublicKeyToken=null" />
  <Using namespace="MongoDB.Driver" />

  <UsingAssembly fullName="Elasticsearch.Net, Version=5.0.0.0, Culture=neutral, PublicKeyToken=96c599bbe3e70f5d" />
  <Using namespace="Elasticsearch.Net" />

  <SetVariable name="redis.configurationString" string="172.30.11.157" />

  <SetVariable name="mongo.clientSettings" objectType="MongoClientSettings">
    <Property name="ApplicationName" string="Tesseract" />
    <Property name="ConnectionMode" enumType="ConnectionMode" enumValue="Automatic" />
    <Property name="ReadPreference" objectType="ReadPreference">
      <ConstructorArgs>
        <Arg enumType="ReadPreferenceMode" enumValue="Nearest" />
        <Arg><Null /></Arg>
        <Arg><Null /></Arg>
      </ConstructorArgs>
    </Property>
    <Property name="MaxConnectionPoolSize" int32="500" />
    <Property name="WaitQueueSize" int32="2000" />
    <Property name="Servers" arrayElementType="MongoServerAddress">
      <Item objectType="MongoServerAddress">
        <ConstructorArgs>
          <Arg string="tesseract01-a.appson.local" />
          <Arg int32="27018" />
        </ConstructorArgs>
      </Item>
    </Property>
  </SetVariable>

  <SetVariable name="mongo.databaseName" string="tesseract-test" />

  <SetVariable name="mongo.databaseSettings" objectType="MongoDatabaseSettings">
    <Property name="ReadPreference" objectType="ReadPreference">
      <ConstructorArgs>
        <Arg enumType="ReadPreferenceMode" enumValue="Nearest" />
        <Arg><Null /></Arg>
        <Arg><Null /></Arg>
      </ConstructorArgs>
    </Property>
  </SetVariable>

  <SetVariable name="elasticsearch.connectionPool" objectType="StaticConnectionPool">
    <ConstructorArgs>
      <Arg arrayElementType="Node">
        <Item objectType="Node">
          <ConstructorArgs>
            <Arg objectType="System.Uri, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
              <ConstructorArgs>
                <Arg string="http://tesseract01-a.appson.local:9200" />
              </ConstructorArgs>
            </Arg>
          </ConstructorArgs>
        </Item>
      </Arg>
      <Arg boolean="true" />
      <Arg><Null /></Arg>
    </ConstructorArgs>
  </SetVariable>

  <SetVariable name="elasticsearch.indexNamePrefix" string="tsrct" />

</CompositionInfo>
