<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.InteropServices.RuntimeInformation" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="servicestack:license" value="4915-e1JlZjo0OTE1LE5hbWU6RmFuYXAgU29jaWFsLFR5cGU6UmVkaXNJbmRpZSxIYXNoOldYelU5TmhycnQ0R0szQ2N2em1jVk9KankzaUpuVjZuWjA0SDNOSUdubGRRVXdQY2FFVFRhT2QwS1BTaThUZGNydW9OWXRxUTdIaUJrTy9Eci9QZEV0Z0R2bWVyV09QZDJWM0E1WFI0eFNUMXZHUlFUUGx0SkZBMTdpS2svT1hXRmwwS3VUZ2xTWms0bm9HNzByRFpicFR2WWZOY2hvdCtWbllwdFRoakNPRT0sRXhwaXJ5OjIwMTgtMDQtMjN9" />
  </appSettings>
</configuration>